body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ----------HEADER--------------- */

.header {
    /* padding-top: 24px;
    padding-bottom: 24px; */
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    align-items: center
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* margin-right: 76px; */
    padding: 16px;
}

.nav-list {
    /* display: flex; */
    display: none;
    /* gap: 40px; */
}

.logo-part {
    color: #2E2F42;
}



.adress {
    font-style: normal;
    margin-left: auto;
    display: none;
}

/* .adress-list {
    display: flex;
    gap: 40px;
} */


.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
}

/* ----------HEADER--------------- */

/* ---------------MENU------------ */

.menu {
    /* padding: 188px 0; */
    padding: 72px 0;
    background: #2E2F42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/office-fone.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.menu-title {
    color: #FFF;
    text-align: center;
    /* font-size: 56px; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto 72px;
}

.menu-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-left: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover,
.menu-btn:focus {
    background-color: #404BBF;
}

/* ---------------MENU------------ */

/* ---------------MENU STRATEGY------------ */

.strategy-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.strategy-item {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* width: 264px;
    height: 112px; */
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
}

.menu-strategy-title {
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    /* font-size: 20px; */
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.menu-strategy-lead {
    width: 288px;
    /* align-self: stretch; */
    font-style: normal;
    font-weight: 500;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ---------------MENU STRATEGY------------ */

/* -----------------MENU TEAM------------ */

.menu-team {
    background-color: #F4F4FD;
}

.menu-team-subject {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    flex-direction: column;
    display: flex;
    gap: 72px;
    align-items: center;
}

.menu-team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-team {
    padding: 32px 0;
}

.menu-team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.menu-team-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.soc-link {
    width: 40px;
    height: 40px;
}

.soc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-subject-svg {
    fill: #f4f4fd;
}

.soc-icon:hover,
.soc-icon:focus {
    background-color: #404BBF;
}

/* ---------------MENU TEAM------------ */

/* ---------------MENU PORTFOLIO------------ */

.menu-portfolio-subject {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: 100%;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-selers-content {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: center;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.menu-portfolio-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.menu-portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ---------------MENU PORTFOLIO------------ */

/* ---------------FOOTER------------ */

.end-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio {
    color: #F4F4FD;
}

.end-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* width: 264px; */
    text-align: left;
}

.end {
    background: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.end-soc {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* margin-bottom: 16px; */
    margin-bottom: 16px;
    margin-top: 72px;
    text-align: center;
}

.end-soc-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.end-soc-link {
    width: 40px;
    height: 40px;
}

.end-container {
    /* margin-right: 120px; */
    text-align: center;
}

.end-soc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.end-soc-icon:hover,
.end-soc-icon:focus {
    background-color: #31D0AA;
}

.footer-container {
    /* display: flex; */
    align-items: baseline;
}

.end-soc-svg {
    fill: #f4f4fd;
}

.footer-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 72px;
    text-align: center;
}

.footer-form {
    display: flex;
    /* gap: 24px; */
    gap: 16px;
    flex-direction: column;
}

.footer-input {
    /* width: 264px; */
    width: 288px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-form-svg {
    fill: #FFFFFF;
    margin-left: 16px;
}

.footer-form-btn {
    width: 165px;
    height: 40px;
    color: #FFF;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    align-self: center;
}

/* ---------------FOOTER------------ */

/* ---------------MODAL------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    background: #FCFCFC;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover>.modal-close-svg,
.modal-close-btn:focus>.modal-close-svg {
    fill: #ffffff;
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 360px;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-radius: 4px;
    border: 1px solid #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    height: 120px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.check-text {
    color: #8E8F99;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
}

.modal-field-check {
    margin-bottom: 24px;
}

.check-policy {
    color: #4D5AE5;
    text-decoration-line: underline;
}

.check-privacy {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked+.check-text span {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}


.modal-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-left: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}

/* -------------MODAL------------- */


/* --------------768-------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* ------------------HEADER------------------ */

    .open-menu-btn {
        display: none;
    }

    .logo {
        margin-right: 120px;

    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .manual-link {
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .manual-link:hover,
    .manual-link:focus {
        color: #404BBF;
    }

    .carrent {
        position: relative;
        color: #404BBF;
    }

    .carrent::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    .adress {
        display: block;
    }

    .adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .adress-link {
        color: #434455;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .adress-link:hover,
    .adress-link:focus {
        color: #404BBF;
    }

    /* ---------------------HEADER---------------------- */
    /* -------------------MENU------------------ */
    .menu {
        padding: 112px 0;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/ofice-tablet.jpg);
    }

    .menu-title {
        max-width: 496px;
        font-size: 56px;
        margin: 0 auto 36px;
        line-height: 1.07;
    }

    /* -------------------MENU------------------ */

    /* ---------------MENU STRATEGY------------ */
    .strategy-list {
        width: 100%;
        flex-wrap: wrap;
        gap: 72px 24px;
        flex-direction: row;
        justify-content: center;
    }

    .menu-strategy-title {
        text-align: left;
    }

    .menu-strategy-lead {
        width: 356px;
    }

    /* ---------------MENU STRATEGY------------ */

    /* --------------MENU TEAM------------ */

    .team-list {
        width: 100%;
        flex-wrap: wrap;
        gap: 64px 24px;
        flex-direction: row;
        justify-content: center;
    }

    /* --------------MENU TEAM------------ */

    /* --------------MENU PORTFOLIO--------- */

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list {
        gap: 72px 24px;
    }

    /* --------------MENU PORTFOLIO--------- */

    /* ----------------FOOTER----------------- */
    .footer-soc {
        display: flex;
        margin-left: 108px;
    }

    .end-container {
        text-align: left;
        padding-right: 24px;
    }

    .end-text {
        width: 264px;
    }

    .end-soc {
        margin-top: 0;
        text-align: left;
    }

    .footer-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .footer-text {
        text-align: left;
    }

    .footer-container-form {
        margin-left: 108px;
    }

    .footer-input {
        width: 264px;
    }

    /* ----------------FOOTER----------------- */

}

/* ---------------768---------------- */

/* ---------------1158---------------- */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        width: 100%;
        flex-wrap: nowrap;
        gap: 24px;
    }

    /* ------------------HEADER------------------ */
    .header-container {
        align-items: center;
    }

    .logo {
        margin-right: 76px;
    }

    .adress-list {
        flex-direction: row;
        gap: 40px;
    }

    .adress-link {
        font-size: 16px;
        line-height: 1.5;
    }


    /* ------------------HEADER------------------ */

    /* -------------------MENU------------------ */
    .menu {
        padding: 188px 0;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    }

    .menu-title {
        margin: 0 auto 48px;
    }

    /* -------------------MENU------------------ */

    /* ---------------MENU STRATEGY------------ */
    .strategy-list {
        flex-wrap: nowrap;
    }

    .strategy-item {
        width: 264px;
        height: 112px;
        display: flex;
    }

    .menu-strategy-lead {
        width: 264px;
        font-size: 16px;
        font-weight: 400;
    }

    .menu-strategy-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    /* ---------------MENU STRATEGY------------ */

    /* --------------MENU PORTFOLIO--------- */

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-list {
        gap: 48px 24px;
    }

    /* --------------MENU PORTFOLIO--------- */

    /* ------------------FOOTER-------------------- */
    .end-text {
        width: 264px;
    }

    .end-soc {
        margin-bottom: 16px;
    }

    .end-container {
        padding-right: 120px;

    }

    .footer-container {
        display: flex;
    }

    .footer-container-form {
        margin-left: 80px;
    }

    .footer-form {
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-soc {
        margin-left: 0;
    }

    /* ------------------FOOTER-------------------- */
}

/* ---------------1158-------------- */